<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/login">
        <h3>Login Now</h3>
        <p style="color: red;"><%= locals.message%></p>
        <input type="email" name="email" placeholder="Email" value="<%= locals.email%>">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>